.paginationContainer {
  display: flex;
  gap: 8px; /* Отступ между номерами страниц */
}

.paginationNumber {
  cursor: pointer;
  font-size: 18px;
  color: #0D5ADC;
  transition: color 0.3s ease;

  &:hover {
    color: #084a9c;
  }
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
