.pagination-container {
  display: flex;
  gap: 8px; /* Отступ между номерами страниц */
}

.pagination-number {
  cursor: pointer;
  font-size: 18px;
  color: #0D5ADC;
  transition: color 0.3s ease;
}

.pagination-number:hover {
  color: #084a9c;
}

.pagination-number.active {
  font-weight: bold;
  text-decoration: underline;
}