// Основной контейнер
.main-page {
  padding: 0 100px 0 100px ;
}

// Контейнер для таблицы
.phone-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}


