.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 451.8px;
  height: 336px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalTitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.searchContainer {
  margin: 20px 0 10px 0
}

.searchInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.phoneList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phoneItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f9f9f9;
  }
}

.vectorIconWrapper {
  margin-right: 10px; /* Отступ для иконки */
}

.phoneImage {
  width: 40px;
  margin-right: 10px;
}

.phoneName {
  margin-left: 10px;
  font-size: 14px;
}
