.modal {
  width: 451.8px;
  max-height: 90vh;
  background: #fff;
  border-radius: 8px;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  /* Сдвигаем только по оси X */
  transform: translateX(-80%);
}


.modalContent {
  position: relative;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
