
// Переменные
$primary-bg-color: #F4F9FC;
$header-bg-color: #ffffff;
$border-color: #CDCFD2;
$font-color: #A4A9B9;
$smart-color: #828286;
$pagination-color: #0D5ADC;




.headerSmart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.smart {
  color: $smart-color;
  font-size: 48px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $pagination-color;
  font-size: 18px;
}


// Контейнер для шапки таблицы
.tableHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $header-bg-color;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}


.phoneImages {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
}


.phoneImagecolumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  text-align: center;
  flex-shrink: 0;
}


.phoneImage {
  width: 120px;
  height: auto;
  margin-bottom: 5px; // Отступ между картинкой и названием
}


.phoneNames {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
}

.checkboxColumn {
  margin-top: auto;
  text-align: center;
  color: #0D5ADC;
}


.phoneNamecolumn {
  text-align: center;
  font-weight: bold;
  min-width: 150px;
  flex: 1;
}

// Тело таблицы
.tableBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $primary-bg-color;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;


  .tableRow {
    display: flex;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding: 20px;
    box-sizing: border-box;
    background-color: $primary-bg-color;

    &:last-child {
      border-bottom: none;
    }
  }
}


.specName {
  padding: 10px;
  text-align: left;
  width: 150px;
  color: $font-color;
}


.specValue {
  padding: 10px;
  margin-left: 160px;
  text-align: left;
  flex: 1;
}
